# Azure Functions
function/local.settings.json
function/bin
function/obj
function/.python_packages/
function/__azurite_db*__.json
function/__blobstorage__
function/__queuestorage__

# Python
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# VS Code
.vscode/*.log

# OS
.DS_Store
Thumbs.db
